# Postgres configuration
DB_PORT=5432
DB_NAME="vaops"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="[YOUR_POSTGRES_PASSWORD]"

# Docker configuration
DOCKER_USERNAME="DOCKER USERNAME"

# Frontend configuration
NG_APP_API_URL="http://localhost:8080/api"

# Backend configuration
BE_CORS_ALLOWED_ORIGINS="*"